/*
  header, main, footer {
      padding-left: 300px;
    }
  
    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
  */
body {
  font-family: monospace;
}



.sidenav {
  color: #000000;
  font-weight: bold;
}

/* Image Optimization*/
.aspect {
  float: left;
  padding: 0;

  background-color: #ffffff;

  width: 100%;
  overflow: hidden;

  position: relative;
  height: 0;
  padding-top: 100%;
  margin-bottom: 20px;
}

.aspect img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


/* label color */
.input-field label {
  color: #ffffff !important;
}

/* label focus color */
.input-field input:focus+label {
  color: #ffffff !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
  color:#ffffff !important;
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
  color:#ffffff !important;
}

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
  color:#ffffff !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff !important;
}

/* Textarea focus and underline focus color */
.input-field textarea:focus+label {
  color: #ffffff !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
  color:#ffffff !important;
}

textarea.materialize-textarea {
  height: 7rem;
  color:#ffffff !important;
}

/*radio button*/

[type="radio"]:checked+label::after,
[type="radio"].with-gap:checked+label::after {
  background-color: #ffffff !important;
}

[type="radio"]:checked+label::after,
[type="radio"].with-gap:checked+label::before,
[type="radio"].with-gap:checked+label::after {
  border: 2px solid #ffffff !important;
}

/*RANGEEE*/
input[type=range]::-webkit-slider-thumb {
  background-color: black;
}

input[type=range]::-moz-range-thumb {
  background-color: black;
}

input[type=range]::-ms-thumb {
  background-color: black;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range]+.thumb {
  background-color: #000000;
}

input[type=range]+.thumb.active .value {
  color: white;
}


input[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}

.modal{
  width:1600px;
}