  <!-- Johan Edit Modal -->
  <div id="johanEdit" class="modal">
    <div class="modal-content">
      <h4>Johan Edit</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn red modal-close waves-effect waves-light red">Close</a>
    </div>
  </div>