  <!-- Johan Edit Modal -->
  <div id="johanDelete" class="modal">
    <div class="modal-content grey darken-3 white-text">
      <p>Are you sure you want to delete the text saying <br>
        "<span id="johanTextNameDelete"></span>" ?</p>
    </div>
    <div class="modal-footer grey darken-3 white-text">
      <button href="#!" class="btn red modal-close waves-effect waves-light blue">Close</button>
      <button href="#!" class="btn red modal-close waves-effect waves-light red" id="deleteJohanModal">Delete</button>
    </div>
  </div>