<div class="row">
    <div class="col s12">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action right-align">
          <a class="modal-trigger waves-effect waves-light" href="#johanEdit"><i class="material-icons green-text">edit</i></a>
          <a class="modal-trigger waves-effect waves-light" href="#johanDelete"><i class="material-icons red-text">delete</i></a>
        </div>
      </div>
    </div>
  </div>