  <!-- Johan Edit Modal -->
  <div id="johanDelete" class="modal">
    <div class="modal-content">
      <h4>Johan Delete</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn red modal-close waves-effect waves-light">Close</a>
    </div>
  </div>