  <!-- Johan Edit Modal -->
  <div id="scriptEdit" class="modal">
    <div class="modal-content grey darken-3 white-text">
      <h4>Script Edit</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer grey darken-3 white-text">
      <a href="#!" class="btn red modal-close waves-effect waves-light red">Close</a>
    </div>
  </div>