  <!-- Johan Edit Modal -->
  <div id="scriptDelete" class="modal grey darken-3 white-text">
    <div class="modal-content">
      <p>Are you sure you want to delete... <span id="scriptTextNameDelete"></span> ?</p>
      
    </div>
    <div class="modal-footer grey darken-3 white-text">
      <button href="#!" class="btn red modal-close waves-effect waves-light blue">Close</button>
      <button href="#!" class="btn red modal-close waves-effect waves-light red deleteScriptModal" id="deleteScriptModal">Delete</button>
    </div>
  </div>
  