<!-- Johan Edit Modal -->
  <div id="scriptEdit" class="modal">
    <div class="modal-content grey darken-3 white-text">
      <div class="row">
        <!--Script TEXT-->
        <!--Script TEXT-->
        <!--Script TEXT-->
        <div class="input-field col s12">
          <input placeholder="The name of the script to control program or communicate Johan..." id="scriptTextEdit"
            type="text" name="scriptTextEdit" class="validate scriptTextEdit">
          <label for="scriptTextEdit">Shell script name
          </label>
        </div>

        <!--Script TEXT-->
        <!--Script TEXT-->
        <!--Script TEXT-->

        <!--Script Audio-->
        <!--Script Audio-->
        <!--Script Audio-->
        <div class="file-field input-field col s12">
          <div class="btn white black-text">
            <span>File</span>
            <input type="file" class="scriptAudioEdit" id="scriptAudioEdit" name="scriptAudioEdit">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="boop beep booou">
          </div>
        </div>

        <div class="input-field col s12 right-align">
          <a class="btn-floating btn-large waves-effect waves-light red btn-small"><i
              class="material-icons">cancel</i></a>
        </div>
        <!--Script Audio-->
        <!--Script Audio-->
        <!--Script Audio-->

        <!--Script Description-->
        <!--Script Description-->
        <!--Script Description-->
        <div class="input-field col s12">
          <input placeholder="The description of the shell script" id="scriptDescriptionEdit" type="text"
            name="scriptDescriptionEdit[]" class="validate scriptDescriptionEdit">
          <label for="scriptDescriptionEdit">Shell script description</label>
        </div>
        <!--Script Description-->
        <!--Script Description-->
        <!--Script Description-->

        <!--Response TEXT-->
        <!--Response TEXT-->
        <!--Response TEXT-->

        <div class="input-field col s12 right-align">
          <small>The response has more than one line?</small>
          <a class="btn-floating btn-large waves-effect waves-light blue btn-small"><i class="material-icons"
              id="scriptResponseTextAddEdit">add</i></a>
        </div>

        <div class="input-field col s12">
          <input placeholder="The shell script response..." id="scriptResponseTextEdit" type="text"
            name="scriptResponseTextEdit" class="validate scriptResponseTextEdit">
          <label for="scriptResponseTextEdit">What did the shell script response say?</label>
        </div>

        <div id="scriptResponseTextNewInputsEdit">

        </div>
        <!--Response TEXT-->
        <!--Response TEXT-->
        <!--Response TEXT-->



        <!--Response TEXT if fail-->
        <!--Response TEXT if fail-->
        <!--Response TEXT if fail-->
        <div class="input-field col s12 right-align">
          <small>The response fail text has more than one line?</small>
          <a class="btn-floating btn-large waves-effect waves-light blue btn-small"><i class="material-icons"
              id="scriptResponseTextIfFailAddEdit">add</i></a>
        </div>

        <div class="input-field col s12">
          <input placeholder="If something goes wrong, what will be the response..." id="scriptResponseTextIfFailEdit"
            type="text" name="scriptResponseTextIfFailEdit" class="validate scriptResponseTextIfFailEdit">
          <label for="scriptResponseTextIfFailEdit">What did the shell script response say if fail?</label>
        </div>

        <div id="scriptResponseTextIfFailNewInputsEdit">
        </div>
        <!--Response TEXT if fail-->
        <!--Response TEXT if fail-->
        <!--Response TEXT if fail-->

        <!--Response  TEXT Animation-->
        <!--Response TEXT Animation-->
        <!--Response  TEXT Animation-->
        <div class="input-field col s12">
          <input placeholder="number in ms^1 " id="scriptResponseTextDurationEdit" type="number"
            name="scriptResponseTextDurationEdit" class="validate scriptResponseTextDurationEdit">
          <label for="scriptResponseTextDurationEdit">The duration between each script response.</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="number in ms^1 " id="scriptResponseTextSpeedEdit" type="number" name="scriptResponseTextSpeedEdit"
            class="validate scriptResponseTextSpeedEdit">
          <label for="scriptResponseTextSpeedEdit">How fast the response text for script is saying?</label>
        </div>

        <div class="col s12 right-align">
          <p>
            <label>
              <input type="checkbox" class="filled-in scriptResponseTextFlashEdit" id="scriptResponseTextFlashEdit"
                name="scriptResponseTextFlashEdit" />
              <span class="white-text"><small>The response text is flashing?</small></span>
            </label>
          </p>
        </div>
        <!--Response  TEXT Animation-->
        <!--Response  TEXT Animation-->
        <!--Response  TEXT Animation-->

        <!--ASCII text-->
        <!--ASCII text-->
        <!--ASCII text-->
        <div class="input-field col s12 right-align">
          <small>More than one image?</small>
          <button class="btn-floating btn-large waves-effect waves-light blue btn-small"><i class="material-icons"
              id="scriptAsciiTextAddEdit">add</i></button>
        </div>

        <div class="input-field col s12">
          <textarea placeholder="If Johan is trying to show something in photo format." id="scriptAsciiTextEdit"
            class="materialize-textarea scriptAsciiTextEdit" name="scriptAsciiTextEdit"></textarea>
          <label for="scriptAsciiTextEdit">The script is trying to show photo in ASCII</label>
        </div>

        <div id="scriptAsciiTextNewInputsEdit">

        </div>

        <!--ASCII text-->
        <!--ASCII text-->
        <!--ASCII text-->

        <!--ASCII text animation-->
        <!--ASCII text animation-->
        <!--ASCII text animation-->
        <div class="input-field col s12">
          <input placeholder="number in ms^1 " id="scriptAsciiTextDurationEdit" type="number" name="scriptAsciiTextDurationEdit"
            class="validate scriptAsciiTextDurationEdit">
          <label for="scriptAsciiTextDurationEdit">The duration between each ASCII trying to response.</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="number in ms^1 " id="scriptAsciiTextSpeedEdit" type="number" name="scriptAsciiTextSpeedEdit"
            class="validate scriptAsciiTextSpeedEdit">
          <label for="scriptAsciiTextSpeedEdit">How fast the ASCII moving?</label>
        </div>

        <div class="col s12 right-align">
          <p>
            <label>
              <input type="checkbox" class="filled-in scriptAsciiTextFlashEdit" id="scriptAsciiTextFlashEdit"
                name="scriptAsciiTextFlashEdit" value="true" />
              <span class="white-text"><small>The ASCII is flashing?</small></span>
            </label>
          </p>
        </div>
        <!--ASCII text animation-->
        <!--ASCII text animation-->
        <!--ASCII text animation-->

        <!--ASCII text-->
        <!--ASCII text-->
        <!--ASCII text-->
        <div class="input-field col s12 right-align">
          <small>Add new frame...</small>
          <a class="btn-floating btn-large waves-effect waves-light blue btn-small" id="scriptAsciiAnimationAddEdit"><i
              class="material-icons">add</i></a>
        </div>

        <div class="input-field col s12">
          <textarea placeholder="If the script is trying to show something in ASCII animation." id="scriptAsciiAnimationEdit"
            class="materialize-textarea scriptAsciiAnimationEdit" name="scriptAsciiAnimationEdit"></textarea>
          <label for="scriptAsciiAnimationEdit">Script Animation</label>
        </div>

        <div id="scriptAsciiAnimationNewInputsEdit">

        </div>
        <!--ASCII text-->
        <!--ASCII text-->
        <!--ASCII text-->
        <!--Special Action-->
        <!--Special Action-->
        <!--Special Action-->
        <div class="input-field col s12">
          <input placeholder="the special action. Quit Exit etc..." id="scriptSpecialActionEdit" type="text"
            name="scriptSpecialActionEdit" class="validate scriptSpecialActionEdit">
          <label for="scriptSpecialActionEdit">Special Action</label>
        </div>
        <!--Special Action-->
        <!--Special Action-->
        <!--Special Action-->

        <!--Sorting-->
        <!--Sorting-->
        <!--Sorting-->
        <div class="input-field col s12">
          <select name="scriptSortingEdit" class="scriptSortingEdit" id="scriptSortingEdit">
            <optgroup label="Insert Formally">
              <option value="1">Insert to the latest</option>
              <option value="2">Insert to the beginning</option>
            </optgroup>
            <optgroup label="Intersection">
              <option value="3">Insert after #1</option>
              <option value="4">Insert after #2</option>
            </optgroup>
          </select>
          <label>Sorting</label>
        </div>
        <!--Sorting-->
        <!--Sorting-->
        <!--Sorting-->

      </div>
    </div>
    <div class="modal-footer grey darken-3 white-text">
      <a href="#!" class="btn red modal-close waves-effect waves-light red">Close</a>
      <button class="btn waves-effect waves-light blue darken-2 scriptAdd" id="scriptUpdate" type="submit"
      name="scriptUpdate">Update
      <i class="material-icons right">send</i>
    </button>
    </div>
  </div>